<manifest package="workshop.nora.norasandroidlibrary"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <activity android:name=".JokeActivity"/>

    </application>

</manifest>
